.shelves-c1er{
    margin: 5px 10px;
}
.shelves-content-c1er{
    overflow: auto;
}
.statistic-content-c1er{
    width: 200px;
    float: left;
    margin-left: 30px;
    text-align: center;
}
.shelves-imgs-c1er{
    width: 200px;
    max-width: 200px;
    overflow: hidden;
}
.off-goods-c1er{
    margin: 5px 10px;
}
.offShelves-imgs-c1er{
    width: 200px;
    max-width: 200px;
    overflow: hidden;
}
.offShelves-content-c1er{
    overflow: auto;
}
.offShelves-statistic-content-c1er{
    width: 200px;
    float: left;
    margin-left: 30px;
    text-align: center;
}