#components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }

  .ant-layout-sider-children {
    width: 100%;
    height: 100%;
    margin-top: -0.1px;
    padding-top: 0.1px;
}

  .Layout-Jankin .main .Sider-Jankin{
    flex: 0 0 400px !important;
    max-width: 400px !important;
    width: 400px;
  }

  .Layout-Jankin .main #goodsImg{
      width: 400px;
      height: 400px;
      background-color: #f3f3f3;
  }

  .Layout-Jankin .main #goodsInfo{
      width: 100%;
      height: 400px;
  }
  
  .Layout-Jankin .main #goodsOperators{
    width: 100%;
    height: 35px;
  }
  .infoContent{
    position: relative;
    top: 25px;
  }
.btn-Jankin{
  width: 32px !important;
}
.span-Jankin{
  margin: 0 10px !important;
  display: inline-block;
  width: 30px;
  text-align: center;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}